# LexNode - Variáveis de Ambiente
# Para baixar PDFs (peças processuais e acórdãos), o e-SAJ exige que você seja um usuário autenticado
# e passe por Captchas. Para contornar isso de forma leve, faça login no seu navegador,
# inspecione os Cookies (Aperte F12 > Network > Clique em qualquer requisição > Procure "Cookie: ")
# e cole o valor gigantesco aqui embaixo.

ESAJ_COOKIE="JSESSIONID=AECB13860D...; outro_cookie=valor"
